{% load static %}
{% include 'header.html' %}



<div style="margin-top: 150px;margin-left: 450px;">
<div class="card text-center" style="width: 500px;">
    <div class="card-header">
        <h3>LOGIN</h3>
    </div>
    
    <table>
        <tr>
            <td><b>Mobile:</b></td>
            <td><input class="form-control" type="number"></td>
        </tr>    
        <tr>
            <td><b>Password:</b></td>
            <td><input class="form-control" type="password"></td>
        </tr>
        
        <tr>        
           <td colspan="2"> <input class="form-control btn btn-primary" type="submit"></td>
        </tr>
    </table>        
        
    
    <div class="card-footer text-muted">
        <a href="signup"><input class="form-control btn btn-success" type="submit" value="Signup"></a><br><br>
        <a href="forget"><input class="form-control btn btn-danger" type="submit" value="Forgotten Password"></a>        
    </div>
</div>

{% include 'footer.html' %}
