{% load static %}
{% include 'header.html' %}
  
{% include 'sidepanel.html' %} 
    <div class="col-md-6" style="margin-left:300px ; margin-top:100px">
    
    <div class="block-fluid">                        

                 

        <div class="row-form clearfix">
            <div class="col-md-3">Religion ID</div>
            <div class="col-md-9"><input type="text" ></div>    
        </div>
        <div class="row-form clearfix">
            <div class="col-md-3">Sub ID</div>
            <div class="col-md-9"><input type="text" ></div>
        </div>
        <div class="row-form clearfix">
            <div class="col-md-3">Caste Name</div>
            <div class="col-md-9"><input type="text" ></div>
        </div>
  
        <div class="row-form clearfix"> 
             <div class="col-md-12"><input type="button"  class="btn btn-primary" value="Edit" style="float:right"></div>
        </div> 