{% load static %}
{% include 'header.html' %}
  
{% include 'sidepanel.html' %} 

    <div class="col-md-9" style="margin-top:100px ;margin-left: 225px;">                    
    <div class="block-fluid">

         <table cellpadding="0" cellspacing="0" width="100%" class="table">
            <thead>
                <tr>
                    <a href="useradd">
                        <input type="button" class="btn btn-info" value="Add" style="float: right;">
                    </a>
                    
                    
                </tr>
                <tr>                                    
                    <th width="25%">Name</th>
                    <th width="25%">Mobile</th>
                    <th width="25%">City</th>
                    <th width="25%">State</th>  
                    <th width="State">Gender</th>
                    <th width="25%">Religion</th>
                    <th width="25%">Status</th>   
                    <th width="25%" colspan="2">Action</th> 
                                                  
                </tr>
            </thead>
            <tbody>
                 <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>    
                    <td></td>
                    <td></td>
                    <td>
                        <a href="useredit">
                          <input type="button" value="Edit" class="btn btn-primary"> 
                        </a>
                    </td>
                    <td><input type="button" value="Delete" class="btn btn-danger"></td>
                        
                   
                 </tr>                        
            </tbody>
        </table>
    </div>
</div>
 